$primary-cyan: hsl(193, 38%, 86%);
$primary-green: hsl(150, 100%, 66%);

$neutral-blue-0: hsl(217, 19%, 38%);
$neutral-blue-1: hsl(217, 19%, 24%);
$neutral-blue-2: hsl(218, 23%, 16%);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

main{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $neutral-blue-2;
    padding: 15px;
}

.advice-container{
    background-color: $neutral-blue-1;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 540px;
    text-align: center;
    border-radius: 15px;
    padding: 50px;
    row-gap: 25px;
    position: relative;
    opacity: 0;

    button{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border-style: none;
        background-color: $primary-green;
        display: grid;
        place-items: center;
        position: absolute;
        top: 90%;
        cursor: pointer;
        transition: box-shadow 0.3s;
    }

    button:hover{
        box-shadow: 0px 0px 20px $primary-green;
    }

}


.advice-container > p:first-of-type{
    color: $primary-green;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: .75rem;
}


h1{
    color: $primary-cyan;
    font-size: 1.65rem;
}

.fade-in{
    animation: fadeIn 0.5s forwards;
}

h1::after{
    content: "";
    margin-top: 40px;
    margin-bottom: 25px;
    width: 100%;
    background-image: url('./images/pattern-divider-desktop.svg');
    height: 1rem;
    background-position: center;
    background-size: cover;
    display: block;
}

@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@media screen and (max-width: 475px) {
    .advice-container{
        padding: 25px;
    }
}
